<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.arwandar.myseriesaddict"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" />


    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:host="127.0.0.1"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".ui.activity.QuickWatchedActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.CustomActivity"
            android:label="@string/title_activity_custom"
            android:parentActivityName=".ui.activity.QuickWatchedActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.ShowsListActivity"
            android:label="@string/title_activity_shows_list"
            android:parentActivityName=".ui.activity.QuickWatchedActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.ShowsDetailActivity"
            android:label="@string/title_activity_shows_detail"
            android:parentActivityName=".ui.activity.EpisodesListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.EpisodesListActivity"
            android:label="@string/title_activity_episodes_list"
            android:parentActivityName=".ui.activity.QuickWatchedActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.QuickWatchedActivity"
            android:label="@string/title_activity_quick_watched_view"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
