<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.arwandar.myseriesaddict"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arwandar.myseriesaddict.ui.activity.MainActivity"/>
        </activity>
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:host="127.0.0.1"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomeActivity">
        </activity>
        <activity android:name=".ui.activity.ShowsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arwandar.myseriesaddict.ui.activity.HomeActivity"/>
        </activity>
        <activity android:name=".ui.activity.FriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arwandar.myseriesaddict.ui.activity.HomeActivity"/>
        </activity>
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
